MLFLOW_TRACKING_URI=https://dagshub.com/<usuario>/<nombre_repo>.mlflow
MLFLOW_TRACKING_USERNAME=<usuario>
# Se obtiene en Dagshub, en la sección de Settings > Tokens > New Token o copiar el existente
MLFLOW_TRACKING_PASSWORD=<token_usuario_a_obtener_desde_web>